<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--当mapper接口和mapper.xml文件关联的时候，命名空间namespace的值就需要配置成接口的全限定名称
将来我们通过mapper接口的方法名来调用Sql语句-->
<mapper namespace="com.jxd.mybatisPlus.mapper.ICourseScoreMapper">

    <select id="getCourseScore" resultType="Map">
        select s1.student_id,
        <foreach collection="list" item="courseNo" separator=",">
            s#{courseNo}.score as score#{courseNo}
        </foreach>
        from
        <foreach collection="list" item="courseNo"  separator=",">
            (select student_id,score from course_score where course_id = #{courseNo}) s#{courseNo}
        </foreach>
        where
        <foreach collection="list" item="courseNo"  separator="=">
            s#{courseNo}.student_id
        </foreach>
    </select>
</mapper>
