<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--当mapper接口和mapper.xml文件关联的时候，命名空间namespace的值就需要配置成接口的全限定名称
将来我们通过mapper接口的方法名来调用Sql语句-->
<mapper namespace="com.jxd.mybatisPlus.mapper.ITeacherMapper">
    <sql id="baseSql">
        select * from teacher
    </sql>
    <select id="getAllTeacher2" resultType="map">
    <include refid="baseSql"/>
        where flag_deleted = 0 limit #{startIndex},#{pageSize}
    </select>

</mapper>
